.opacityLayer {
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  opacity: 0.25;
  position: absolute;
  background-color: black;
}

.modal {
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
