{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global", "export"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["include", "function", "return", "mixin", "for"]
    }],
    "font-family-no-missing-generic-family-keyword": null
  }
}
