@import 'styles/colors.scss';

.headerBackground {
  background: url('./HeaderBackground.svg') top center/cover no-repeat;
}

.listContainer {
  padding: 0 15px;
  @media screen and (min-width: 400px) {
    padding: 0 20px;
  }
}

.listItem {
  margin-bottom: 5px;
}

.footer {
  padding: 10px 0;
  text-align: center;
  background-color: $violet;
}

.buttonImage {
  width: 80px;
  height: 35px;
  @media screen and (min-width: 400px) {
    width: 100px;
    height: 45px;
  }

  background: url('./AddButton.svg') center center/100% 100% no-repeat;
}
