.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 25px 35px;
}

.left {
  width: 30%;
}

.center {
  width: 40%;
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
