:local(.label) {
  font-size: 14px;
}
:local(.password) {
  padding-right: 25px;
}
:local(.showHideButton) {
  color: #777;
  font-size: 12px;
  position: relative;
  margin-left: -20px;
  cursor: pointer;
}
