@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.container {
  background-color: $violet;
  padding: 5px;
  border-radius: 10px;

  &.small {
    background-color: white;
    border: 2px solid $lightGray;
    display: inline-block;
  }

  &.disabled {
    background-color: $lightGray;
  }
}

.button {
  border-radius: 10px;
  font-family: BariolRegular;
  background-color: inherit;
  border: 3px solid rgba($color: #000, $alpha: 0);
  outline: none;

  &.normal {
    color: white;
    width: 100%;
    font-size: 20px;

    &:active { border-color: white; }
  }

  &.small {
    color: $violet;
    font-size: 15px;

    &:active { border-color: $violet; }
  }
}
